.image-container {
  width: 600px;
  height: 400px;
  overflow: hidden;
  white-space: nowrap;
  background: black;
}

.image-container > img {
  display: inline-block;
  width: 600px;
  height: 400px;
}
