.box-container {
  display: flex;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  text-align: center;
  position: relative;
}

/* .box:hover .content {
  visibility: visible;
  opacity: 1;
} */

/* .content {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-out, bottom 0s ease-out;
} */

.box:hover + .box {
  transform: translateY(100%);
  transition: transform 0.5s ease-out;
}

