.wrapper {
  position: relative;
}

.title1 {
  display: inline-block;
  background-color: gray;
  padding: 10px;
  color: white;
}

.title2 {
  display: inline-block;
  background-color: gray;
  padding: 10px;
  color: white;
}

.content1 {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: lightgray;
  padding: 10px;
}

.content2 {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: lightgray;
  padding: 10px;
  transition: top 0.5s ease-out;
}

.title1:hover + .content1 {
  display: block;
}

.title1:hover + .title2 + .content2 {
  top: 110px;
}





