/* body {
  background-color: white;
  background-size: 10px 10px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: "Barlow", sans-serif;
  justify-content: center;
  align-items: center;
} */

.glitch {
  position: absolute;
  text-align: center;
  color: black;
  font-size: 80px;
} 

.line:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
