/* 제목 */
.title{
    text-align: center;
    color: white; 
    font-size: 50px; 
    font-family: GRAPHIC PSYCHOPATHY;
    src: url(C:\Users\daumpot\Documents\font);
    position: relative;
    top: 200px;
    
}
.hidden{
    text-decoration: none; 
    color: white;
}
/* 제목 */

* {
    color: white;
    font-family: GRAPHIC PSYCHOPATHY;
    src: url(C:\Users\daumpot\Documents\font);
}


div > div {
    position: relative;
    top: 50px;
    font-size: 70px;
    padding-top: 30px;
    text-align: center;
}

.story, .controls {
    position: relative;
    top: 30px;
    font-size: 30px;
}


.story {
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      position: relative;
      top: 50px;
    }
  
    to {
      position: relative;
      top: 30px;
    }
  }


