* {
    color: white;
    font-family: GRAPHIC PSYCHOPATHY;
    src: url(C:\Users\daumpot\Documents\font);
}

body {
    background-color: black;
}

.story_ani, .con_ani {
    cursor: pointer;
}


span {
    font-size: 100px;
    padding-top: 50px;

}

.form_1 {
    position: absolute;
    text-align: center;
    left: 15%;
    top: 100px;
}

.form_2 {
    position: absolute;
    text-align: center;
    left: 60%;
    top: 100px;
}


.story, .controls {
    position: relative;
    top: 30px;
    font-size: 30px;
    opacity: 0;

}



.story_ani:not(:first-child) {
    position: absolute;
    left: 0;
}

.story_ani:nth-child(1) {
    -webkit-animation: clip 3000ms -300ms linear infinite, glitch1 500ms -324ms linear infinite;
            animation: clip 3000ms -300ms linear infinite, glitch1 500ms -324ms linear infinite;
  }
   @-webkit-keyframes glitch1 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(-4px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(2px);
      color: #AC1212;
    }
    95% {
      transform: translateX(-4px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes glitch1 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(-4px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(2px);
      color: #AC1212;
    }
    95% {
      transform: translateX(-4px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  .story_ani:nth-child(2) {
    -webkit-animation: clip 3000ms -600ms linear infinite, glitch2 500ms -429ms linear infinite;
            animation: clip 3000ms -600ms linear infinite, glitch2 500ms -429ms linear infinite;
  }
  @-webkit-keyframes glitch2 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(5px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(5px);
      color: #AC1212;
    }
    95% {
      transform: translateX(-2px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes glitch2 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(5px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(5px);
      color: #AC1212;
    }
    95% {
      transform: translateX(-2px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  .story_ani:nth-child(3) {
    -webkit-animation: clip 3000ms -900ms linear infinite, glitch3 500ms -346ms linear infinite;
            animation: clip 3000ms -900ms linear infinite, glitch3 500ms -346ms linear infinite;
  }
  @-webkit-keyframes glitch3 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(3px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(5px);
      color: #AC1212;
    }
    95% {
      transform: translateX(2px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes glitch3 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(3px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(5px);
      color: #AC1212;
    }
    95% {
      transform: translateX(2px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  .story_ani:nth-child(4) {
    -webkit-animation: clip 3000ms -1200ms linear infinite, glitch4 500ms -757ms linear infinite;
            animation: clip 3000ms -1200ms linear infinite, glitch4 500ms -757ms linear infinite;
  }
  @-webkit-keyframes glitch4 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(1px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(5px);
      color: #AC1212;
    }
    95% {
      transform: translateX(5px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes glitch4 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(1px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(5px);
      color: #AC1212;
    }
    95% {
      transform: translateX(5px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  .story_ani:nth-child(5) {
    -webkit-animation: clip 3000ms -1500ms linear infinite, glitch5 500ms -310ms linear infinite;
            animation: clip 3000ms -1500ms linear infinite, glitch5 500ms -310ms linear infinite;
  }
  @-webkit-keyframes glitch5 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(2px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(-3px);
      color: #AC1212;
    }
    95% {
      transform: translateX(1px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes glitch5 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(2px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(-3px);
      color: #AC1212;
    }
    95% {
      transform: translateX(1px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  .story_ani:nth-child(6) {
    -webkit-animation: clip 3000ms -1800ms linear infinite, glitch6 500ms -545ms linear infinite;
            animation: clip 3000ms -1800ms linear infinite, glitch6 500ms -545ms linear infinite;
  }
  @-webkit-keyframes glitch6 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(-4px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(1px);
      color: #AC1212;
    }
    95% {
      transform: translateX(3px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes glitch6 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(-4px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(1px);
      color: #AC1212;
    }
    95% {
      transform: translateX(3px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  .story_ani:nth-child(7) {
    -webkit-animation: clip 3000ms -2100ms linear infinite, glitch7 500ms -610ms linear infinite;
            animation: clip 3000ms -2100ms linear infinite, glitch7 500ms -610ms linear infinite;
  }
  @-webkit-keyframes glitch7 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(2px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(1px);
      color: #AC1212;
    }
    95% {
      transform: translateX(3px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes glitch7 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(2px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(1px);
      color: #AC1212;
    }
    95% {
      transform: translateX(3px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  .story_ani:nth-child(8) {
    -webkit-animation: clip 3000ms -2400ms linear infinite, glitch8 500ms -771ms linear infinite;
            animation: clip 3000ms -2400ms linear infinite, glitch8 500ms -771ms linear infinite;
  }
  @-webkit-keyframes glitch8 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(4px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(-4px);
      color: #AC1212;
    }
    95% {
      transform: translateX(0px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes glitch8 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(4px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(-4px);
      color: #AC1212;
    }
    95% {
      transform: translateX(0px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  .story_ani:nth-child(9) {
    -webkit-animation: clip 3000ms -2700ms linear infinite, glitch9 500ms -51ms linear infinite;
            animation: clip 3000ms -2700ms linear infinite, glitch9 500ms -51ms linear infinite;
  }
  @-webkit-keyframes glitch9 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(0px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(5px);
      color: #AC1212;
    }
    95% {
      transform: translateX(5px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes glitch9 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(0px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(5px);
      color: #AC1212;
    }
    95% {
      transform: translateX(5px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  .story_ani:nth-child(10) {
    -webkit-animation: clip 3000ms -3000ms linear infinite, glitch10 500ms -243ms linear infinite;
            animation: clip 3000ms -3000ms linear infinite, glitch10 500ms -243ms linear infinite;
  }
  @-webkit-keyframes glitch10 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(-3px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(4px);
      color: #AC1212;
    }
    95% {
      transform: translateX(-1px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes glitch10 {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(0);
      color: #fff;
    }
    85% {
      transform: translateX(-3px);
      color: #4E9A26;
    }
    90% {
      transform: translateX(4px);
      color: #AC1212;
    }
    95% {
      transform: translateX(-1px);
      color: #fff;
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @-webkit-keyframes clip {
    0% {
      -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
              clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
    }
    100% {
      -webkit-clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
              clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
    }
  }
  
  @keyframes clip {
    0% {
      -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
              clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
    }
    100% {
      -webkit-clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
              clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
    }
  }








/* 애니메이션 */
.story_ani:hover ~ .story {
    transform: translateY(-10px);
    transition: all 1s;
    opacity: 1;
}

.story_ani:not(:hover) ~ .story {
    transition: all 1s;
    opacity: 0;
}


.con_ani:hover ~ .controls {
    transform: translateY(-15px);
    transition: all 1s;
    opacity: 1;
}

.con_ani:not(:hover) ~ .controls {
    transition: all 1s;
    opacity: 0;
}
/* 애니메이션 */

